<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estazo.project.seeable.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginScreen"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".SignoutByGmail"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SigninByGmail"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CameraTest"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AboutScreen"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SettingScreen"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SelectRegister"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPerson"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".RegisterBlind"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>